parameters:
    database_driver:   pdo_mysql
    database_host:     {{ parameters.database_host | default('127.0.0.1') }}
    database_port:     {{ parameters.database_post | default(3306) }}
    database_name:     {{ parameters.database_name | default('hobbyearth') }}
    database_user:     {{ parameters.database_user | default('hobbyearth') }}
    database_password: {{ parameters.database_password | default('hobbyearth') }}
    database_path:     "%kernel.root_dir%/tmp/hobbyearth_test.db"

    mailer_transport:  {{ parameters.mailer_transport | default('smtp') }}
    mailer_host:       {{ parameters.mailer_host | default('127.0.0.1') }}
    mailer_user:       {{ parameters.mailer_user | default('~') }}
    mailer_password:   {{ parameters.mailer_password | default('~') }}

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    web_profiler_toolbar: false

    assetic.ruby.bin: null
    assetic.java.bin: /usr/bin/java
    assetic.filter.compass.bin: compass

    # set to false to skip compile on request and use assetic:dump
    assetic_use_controller: true

    assets_version: {{ parameters.version }}
    assets_version_format: "%%s?v%%d"

    version: {{ parameters.version }}
    elasticsearch_host: {{ parameters.elasticsearch_host | default('localhost') }}
    elasticsearch_index_name: hobbyearth
    remember_me_key:    365daysinyear
    path_to_spool: %kernel.root_dir%/spool

    #oauth
    facebook_client_id: CLIENT_ID
    facebook_client_secret: CLIENT_SECRET
    google_client_id: CLIENT_ID
    google_client_secret: CLIENT_SECRET

    uservoice_api_key: API_KEY
    router.request_context.host: localhost

    #Web socket server
    websocket_address: hobbyearth.localhost
    websocket_port: 8080
    zmq_address: 127.0.0.1
    zmq_port: 8081

    session_handler_id: session.handler.native_file
