[{{ php_pool_name }}]
user = {{ php_pool_user }}
group = {{ php_pool_user }}
listen = /var/run/php5-fpm-{{ php_pool_name }}.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
chdir = /

{% for key,value in symfony_env.iteritems() %}
env[{{ key }}]="{{ value }}"
{% endfor -%}
