---
# used for composer prefer-dist
# github_token: your_github_token

symfony_env:
    SYMFONY_ENV: prod
    SYMFONY__database_driver:   pdo_mysql
    SYMFONY__database_host:     127.0.0.1
    SYMFONY__database_port:     ~
    SYMFONY__database_name:     symfony
    SYMFONY__database_user:     root
    SYMFONY__database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # SYMFONY__database_path: "%kernel.root_dir%/data.db3"

    SYMFONY__mailer_transport:  smtp
    SYMFONY__mailer_host:       127.0.0.1
    SYMFONY__mailer_user:       ~
    SYMFONY__mailer_password:   ~

    SYMFONY__locale:            en

    # A secret key that's used to generate certain security-related tokens
    SYMFONY__secret:            ThisTokenIsNotSoSecretChangeIt
